<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
  <el-form :inline="true" :model="formInline" class="demo-form-inline">
  <el-form-item label="姓名">
    <el-input v-model="formInline.name" placeholder="姓名"></el-input>
  </el-form-item>
  <el-form-item label="部门">
    <el-select v-model="formInline.dname" placeholder="部门" clearable>
      <el-option label="开发部" value="开发部"></el-option>
      <el-option label="财务部" value="财务部"></el-option>
      <el-option label="研发部" value="研发部"></el-option>
      <el-option label="市场部" value="市场部"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" @click="onSubmit">查询</el-button>
  </el-form-item>
  </el-form>

    <el-table
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                prop="id"
                label="编号"
                width="100">
        </el-table-column>
        <el-table-column
                prop="name"
                label="姓名"
                width="180">
        </el-table-column>
        <el-table-column
                prop="sex"
                label="性别"
                width="180">
            <template slot-scope="scope">
                {{scope.row.sex==0?"男":"女"}}
            </template>
        </el-table-column>
        <el-table-column
                prop="hobby"
                label="爱好"
                width="180">
        </el-table-column>
        <el-table-column
                prop="birthday"
                label="生日"
                width="180">
        </el-table-column>
        <el-table-column
                prop="img"
                label="图片"
                width="180">
        </el-table-column>
        <el-table-column
                prop="dname"
                label="部门"
                width="180">
        </el-table-column>
    </el-table>

  <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pageNum"
      :page-sizes="[3, 6, 9, 12]"
      :page-size="pagSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total">
  </el-pagination>
</div>
</body>
<script>
    new Vue({
      el:"#app",
      data:{
        tableData:[],
        pageNum:1,
        pageSize:3,
        formInline:{},
        total:0
      },
      methods:{
        findByLimit(){
          axios.post(`/student/findByLimit?pageNum=${this.pageNum}&pageSize=${this.pageSize}`,this.formInline).then(res =>{
            this.tableData=res.data.records;
            this.total=res.data.total;
          })
        },
        onSubmit(){
          this.findByLimit();
        },
        handleCurrentChange(pageNum1){
          this.pageNum=pageNum1;
          this.findByLimit();
        },
        handleSizeChange(pageSize1){
          this.pageSize=pageSize1;
          this.findByLimit();
        }
      },
      created(){
        this.findByLimit();
      }
    })
</script>
</html>